.category {
  width: 100%;
  height: 100%;
  overflow: auto;
  ul {
    padding: 16px;
    display: flex;
    li {
      list-style: none;
      margin-right: 16px;
      &:last-child {
        margin-right: 0;
      }
      video {
        background: black;
        height: 240px;
        width: 136px;
        border-radius: 6px;
      }
    }
  }
}